
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html,
body,
#app {
  background: rgb(163, 179, 195);
  border-radius: 0;
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

#app * {
  box-sizing: inherit;
}

#app {
  text-align:center;
  font:16px sans-serif; 
  color: rgb(34, 34, 34);
  visibility: visible;
}

.heading {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.main {
  position: static;
  width: 500px;
  height: 500px;
}

.main,
.container {
  margin-left: auto;
  z-index: 15;
  margin-right: auto;
}

#clock {
  z-index: 10;
}

a, textarea, input, select {
  position: relative;
  text-decoration: none;
  color: inherit;
  z-index:25;
}

#clock a:hover,
#clock a:active,
#clock a:focus {
  outline: 0;
}

textarea,
input,
select {
  border-radius: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 14px;
  border: 1px solid rgb(204, 204, 204);
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

#app.inSession #session textarea,
#app.inSession #session input,
#app.inSession #session select {
  border-width: 2px;
  border-color: rgb(35, 170, 250);
}

#app.onBreak #break textarea,
#app.onBreak #break input,
#app.onBreak #break select {
  border-width: 2px;
  border-color: rgb(15, 190, 135);
}

#app.inAnimationMode textarea,
#app.inAnimationMode input,
#app.inAnimationMode select  {
  background-color: rgb(230, 238, 252);
  border-color: rgb(136, 144, 153);
  color: rgb(17, 17, 17);
}

input[type=number] {
  -webkit-appearance: none;
  width: 50px;
}

#session {
  position: relative;
  height: 175px;
}

#session .container {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 102px;
}

#interface {
  position: static;
  height: 100px;
}

#interface .container {
  position:static;
  width: 300px;
  height: 50px;
  margin-top:25px;
  background-color: rgb(17, 34, 51);
  color: rgb(238, 238, 238);
  font-size: 38px;
}

#cancelMessage {
  position:static;
  height:25px;
  padding-top:5px;
  font-size: 16px;
  color: rgb(34, 34, 34);
  text-transform: uppercase;
  visibility: hidden;
  z-index: 50;
}

#app.inSession #cancelMessage {
   color: rgb(0, 50, 155);
}

#app.onBreak #cancelMessage {
   color: rgb(0, 120, 80);
}

#app.inInputMode #cancelMessage {
  visibility: visible;
}

#app.inInputMode.hideCancelMessage #cancelMessage {
  visibility: hidden;
}

#readout {
  line-height: 50px;
}

#message {
  position:static;
  font-size: 12px;
  color: rgb(34, 34, 34);
  text-transform: uppercase;
  margin-top: 5px;
}

#break {
  position:relative;
  height: 175px;
}

#break .container {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 53px;
}

canvas {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 0px;
  z-index: 5;
}

