
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html,
body,
#pomodoro {
  background: #aabbcc;
  border-radius: 0;
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

#pomodoro * {
  box-sizing: inherit;
}

#pomodoro {
  text-align:center;
  font:16px sans-serif; 
  color: #222222;
}

.heading {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.main {
  position: static;
  width: 500px;
  height: 500px;
}

.main,
.container {
  margin-left: auto;
  margin-right: auto;
}

#content {
  z-index: 10;
}

a, textarea, input, select {
  position: relative;
  text-decoration: none;
  color: inherit;
  z-index:25;
}

textarea,
input,
select {
  border-radius: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 14px;
  border: 1px solid #cccccc;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

#pomodoro.inSession #session textarea,
#pomodoro.inSession #session input,
#pomodoro.inSession #session select {
  border-color: #003399;
}

#pomodoro.onBreak #break textarea,
#pomodoro.onBreak #break input,
#pomodoro.onBreak #break select {
  border-color: #009900;
}

/* #pomodoro added for specificity. */
#pomodoro textarea:focus,
#pomodoro input:focus,
#pomodoro select:focus {
  border-color: #000000;
}

/*
textarea:disabled,
input:disabled,
select:disabled {
  background-color: #ffffff;
  border-color: #cccccc;
  color:#111111;
}
*/

input[type=number] {
  -webkit-appearance: none;
  width: 50px;
}

#session {
  position: relative;
  height: 200px;
}

#session .container {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 102px;
}

#readout {
  position: static;
  height: 100px;
}

#readout .container {
  position:static;
  margin-top: 25px;
  width: 300px;
  height: 50px;
  background-color: #112233;
  color: #eeeeee;
  font-size: 38px;
}

#digitalTime {
  line-height: 50px;
}

#message {
  position:static;
  font-size: 12px;
  color: #222222;
  text-transform: uppercase;
  margin-top: 5px;
}

#break {
  position:relative;
  height: 200px;
}

#break .container {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 128px;
}

canvas {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 0px;
  z-index: 5;
}

